<div>
  <div>
    <h1>
      <!-- Movie #<%#= @the_movie.id %> details -->
      Movie #<%= @movie.id %> details
    </h1>

    <div>
      <div>
        <!--<a href="/movies">-->
        <!-- using helper method -->
        <!--<a href="<%= movies_path %>">
          Go back
        </a>-->
         <!-- using shorthand -->
        <%= link_to "Go back", movies_path %>
      </div>

      <div>
        <!--<a href="/movies/<%#= @the_movie.id %>/edit">-->
        <!-- using helper method -->
        <!--<a href="<%#= edit_movie_path(@the_movie.id) %>">-->
        <!-- rails can assume that you want the .id from the argument of the method -->
        <!--<a href="<%#= edit_movie_path(@the_movie) %>">
          Edit movie
        </a>-->
        <!-- using shorthand -->
        <%= link_to "Edit movie", edit_movie_path %>
      </div>

      <div>
        <!--<a href="/movies# @the_movie.id %>" data-method="delete">-->
        <!-- using helper method -->
        <!--<a href="<%#= movie_path(@the_movie.id) %>" data-method="delete">-->
        <!-- rails can assume that you want the .id from the argument of the method -->
        <!--<a href="<%#= movie_path(@the_movie) %>" data-method="delete">-->
        <a href="<%= movie_path(@movie) %>" data-method="delete">
          Delete movie
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%#= @the_movie.title %>
        <%= @movie.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%#= @the_movie.description %>
        <%= @movie.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <!--<%#= time_ago_in_words(@the_movie.created_at) %> ago -->
        <%= time_ago_in_words(@movie.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <!--<%#= time_ago_in_words(@the_movie.updated_at) %> ago -->
        <%= time_ago_in_words(@movie.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
